.industryOptionCard {
    cursor: pointer;
    display: flex;
    align-items: center; 
    flex-direction: column;
    /* width: fit-content; */
    /* min-width: 16rem; */
    /* width: 16rem; */
    border-radius: 0.5rem;
    /* background-color: rgb(44, 44, 44); */
    /* border: 0.25rem solid white; */
    transition: box-shadow 0.4s ease, transform 0.4s ease; 
}

.industryOptionCard:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}


.imageContainer {
    overflow: hidden;
    position: relative;
    width: 21.55rem;
    height: 8rem;
}

.industryOptionCard p {
    padding: 1rem;
    /* background-color: red; */
    font-weight: 600;
}

.surfaceOptionCard {
    cursor: pointer;
    display: flex;
    align-items: center; 
    flex-direction: column;
    /* background-color: rgb(38, 38, 38); */
    overflow: hidden;
}

.surfaceOptionCard p {
    padding: 0.75rem;
    /* color: black; */
    font-weight: 600;
}

.surfaceImageContainer {
    border: 0.5rem solid white;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
    width: 9.5rem;
    height: 9.5rem;
    transition: box-shadow 0.4s ease, transform 0.4s ease; 
}

.surfaceImageContainer:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

.capacityRanges {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: '50%';
    width: 25rem;
    gap: 0.25rem;
}

.capacityRange {
    cursor: pointer;
    padding: 0.75rem;
    border-radius: 0.25rem;
    background-color: rgb(44, 44, 44);
    color: white;
    font-size: 1rem;
    font-weight: 600;
    width: fit-content
}

.numberOfCasters {
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    color: white;
    font-size: 2.5rem;
    justify-content: center;
    background-color: #93162d;
    border: none;
}


.productImageContainer {
    cursor: pointer;
    overflow: hidden;
    position: relative;
    height: 20rem;
    transition: box-shadow 0.4s ease, transform 0.4s ease; 
}

.productImageContainer:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

.decoWizardImageContainer {
    background-color: white;
    border: 0.25rem solid white;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
}

.quantity {
    cursor: pointer;
    width: 4rem;
    height: 3rem;
    color: white;
    font-size: 2.5rem;
    justify-content: center;
    background-color: transparent;
    border: none;
}